{% include base_path %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/ScholarlyArticle">
    <h2 class="archive__item-title" itemprop="headline" style="margin-bottom:0.25em">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
    </h2>

    {% if post.authors %}
      <p style="margin:0 0 0.2em 0">{{ post.authors | markdownify | remove: "<p>" | remove: "</p>" }}</p>
    {% endif %}

    <p style="margin:0 0 0.4em 0"><i>{{ post.venue }}</i></p>

    {% if post.links %}
      <p style="margin:0">
        {% for link in post.links %}<a href="{{ link.url }}">[{{ link.label }}]</a>&nbsp;{% endfor %}
      </p>
    {% endif %}
  </article>
</div>
