{% include base_path %}

<div class="list__item">
  <article class="archive__item pub-item" itemscope itemtype="http://schema.org/ScholarlyArticle">
    {% if post.venueshort or post.venue %}
      <div class="pub-banner">{{ post.venueshort | default: post.venue }}</div>
    {% endif %}

    <h2 class="archive__item-title pub-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
    </h2>

    {% if post.authors %}
      <div class="pub-authors">{{ post.authors | markdownify | remove: "<p>" | remove: "</p>" }}</div>
    {% endif %}

    <div class="pub-venue">{{ post.venue }}</div>

    {% if post.links %}
      <div class="pub-links">
        {% for link in post.links %}<a href="{{ link.url }}">[{{ link.label }}]</a>&nbsp;{% endfor %}
      </div>
    {% endif %}
  </article>
</div>
