{% include base_path %}

{% if page.previous or page.next %}
  <nav class="pagination pagination--post">
    {% if page.previous %}
      <a href="{{ base_path }}{{ page.previous.url }}" class="pagination--pager pagination--prev" title="{{ page.previous.title | markdownify | strip_html }}">&larr; {{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    {% if page.next %}
      <a href="{{ base_path }}{{ page.next.url }}" class="pagination--pager pagination--next" title="{{ page.next.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }} &rarr;</a>
    {% endif %}
  </nav>
{% endif %}
